{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <h3>Work Smarter, Not Harder</h3>
  <p>This website was produced by Christopher Combs for his personal smash practice. Check back next year when he has freetime to hopefully turn this into a helpful tool for everyone to use!<br>I highly recommend downloading the uncle punch mod as well as the most recent version of 20xx to get the most out of training.

  Professional musician here. I don't always practice 4+ hours a day or 30+ a week, but there are definitely periods where I'll be putting in that kind of workload to learn repertoire.

	Here are my top ten tipsTM to help you out!

	1) Proper preparation prevents piss poor practice

	I will almost never sit down at a keyboard without a plan. Today I am going to get those bars right. Today I am going to get that dynamic contrast sounding how I want. Today I'm going to fix that misreading. Today I'm going to memorise those eight bars.

	This plan comes from taking music elsewhere, recordings of my practice too, and basically making a list of everything that I wasn't happy with and that could be improved. This is a lot of time spent away from the piano focusing on practice, but it makes a huge difference.

	There's also often a lot of listening to other people's interpretations. Why should I spend hours agonising over a hidden inner tune that needs a wonderfully melodic treatment when I can go to Spotify and hear six top pianists bring it out in different ways? Combine my favourite elements and tadah! Free interpretation.

So yes. Make plans. Which then leads me to the second point:

2) Discipline is MANDATORY in practice

At University I lived with a guy who had tons of enthusiasm. He would practice 3-6+ hours a day, every day. Yet he progressed slowly, his diversity of repertoire was very low and his technique wasn't astounding.

He always had a plan, and always said he'd followed it, so I was always baffled by the lack of top tier performance.

So I went along one day and sat next to him in the neighbouring practice room. The first hour was good. Lots got done. But as the second hour approached you started to hear him play his favourite bits or his best bits. Maybe he'd stop and Facebook for a bit because a friend tagged him in a post and he had his phone visible. As the third hour approached he was lost. Tons of playing, very little practice. Not even in that way that builds stamina, just in the sense of playing for leisure.

He had little discipline. He couldn't stick to his plan. And when he did he often discovered that he ran out of plan. Which just means the plan isn't enough. Do more prep. Practice without a plan is often a waste.

Which is kind of relayed to the third point.

3) Don't be afraid to stop

Discipline isn't being able to force yourself to work unceasingly without enjoyment. Discipline is as much about recognising that you need a mental break as anything else, and if you need to go walk around a park for 30 minutes, go walk around a park for 30 minutes.

I've had days where I can't sit still for more than 10 minutes without distraction during periods where I absolutely had to do 4 hours. So I did 4 hours practice in 10 minute intervals, fitting in other things throughout. Egg timers were a life saver.

Also prevents fatigue of feeling like you've been practicing forever. Which can get to be an issue when you've done 50-70+ hours in a week!

Now some smaller things:

4) Slow and Steady doesn't win races, but it works much better.

Never be afraid to grab the metronome and play sections at half or quarter speed to make sure everything is right. Just remember to build it up slowly and always check you're right and comfortable.

5) Pain is bad. Find the issue and fix it.

RSI is not a joke. If your wrists hurt whilst playing, talk to your teacher and identify where the tension is. You probably need to relax more. Because you always will.

6) consistency is everything.

Practice is to create patterns that you can recreate. If you never repeat the patterns, how do you expect to progress?

And consistency in result too Practice until you're right every time. It's often said that an amateur practices until it's right, a professional practices until it's never wrong. This is wrong, as it suggests that amateurs are incapable of proper practice.

7) warm up properly.

Goes without saying. Saying it anyway. Technical exercises played slowly is an excellent way to start.

8) eat, drink, sleep, shit.

Along with taking breaks, these are the essentials of life. It's okay to look after yourself. No one is watching you practice.

You should always have water in a practice room with you too. And a lot of it. Drink, drink, drink. You are sweating more than you realise.

9) find what works for you.

All of the above aside, practice is personal. Find strategies that let you get your work done. Because practice is work.

10) Learn to love your life.

Because if you hate practicing then you'll put it off. Find a way to make it fun or reward yourself. I use jazz and improv. You might be more material.</p>
{% endblock %}