{% extends 'layout.html' %}

{% block body %}
  <h1>Create Exercise</h1>
  <a href="my_exercises" class="btn btn-primary"> Back</a>
  {% from 'includes/_formhelpers.html' import render_field %}
  <form action="" method="POST">
    <div class="form-group">
      {{ render_field(form.title,autocomplete='off', class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.description, class_="form-control", id = "editor") }}
    </div>
    <div class="form-group">
      {{ render_field(form.exercise_type, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.main, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.opponent, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.priority, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>
{% endblock %}