{% extends 'layout.html' %}

{% block body %}
  <h1>All Exercises</h1>
  <a href="my_exercises" class="btn btn-primary"> Back</a>
  <button class="btn btn-warning dropdown-toggle" type="button" id="sortby" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="sortby">
    <a class="dropdown-item" href="?sort=title">Title</a>
    <a class="dropdown-item" href="?sort=popularity&ord=DESC">Popularity</a>
    <a class="dropdown-item" href="?sort=author">Author</a>
    <a class="dropdown-item" href="?sort=exercise_type">Type</a>
    <a class="dropdown-item" href="?sort=main">Character</a>
    <a class="dropdown-item" href="?sort=opponent">Opponent</a>
  </div>
  <hr>
  <table class='table table-striped'>
  	<tr>
  	  <th>Title</th>
      <th>Popularity</th>
      <th>Author</th>
      <th>Type</th>
  	  <th>Character</th>
      <th>Opponent</th>
      <th></th>
      <th></th>
  	</tr>
  	{% for exercise in exercises %}
  	  <tr>
  	  	<td><a href="exercise/{{exercise.id}}" class="btn btn-outline-primary">{{exercise.title}}</td>
        <td>{{exercise.popularity}}</td>
        <td>{{exercise.author}}</td>
        <td>{{exercise.exercise_type}}</td>
        <td>{{CHARACTER_LIST[exercise.main][1]}}</td>
  	  	<td>{{CHARACTER_LIST[exercise.opponent][1]}}</td>
        {% if session.username == exercise.author %}
        <td>
          <form action="{{url_for('delete_exercise', id=exercise.id)}}" method="post">
            <input type="submit" value="Delete" class="btn btn-danger float-right">
          </form>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          <form action="{{url_for('add_exercise', id=exercise.id)}}" method="post">
            <input type="submit" value="Add To My Exercises" class="btn btn-success float-right">
          </form>
        </td>
  	  </tr>
  	{% endfor %}
  </table>
{% endblock %}