{% extends 'layout.html' %}

{% block body %}
  <h1>Skills</h1>
  <a class='btn btn-success' href='/add_skill'>Add Skill</a>
  <hr>
  <table class='table table-striped'>
  	<tr>
  	  <th>Title</th>
  	  <th>Character</th>
      <th>Opponent</th>
  	</tr>
  	{% for skill in skills %}
  	  <tr>
  	  	<td><a href="article/{{skill.id}}" class="btn btn-outline-primary">{{skill.title}}</td>
  	  	<td>{{CHARACTER_LIST[skill.main][1]}}</td>
        <td>{{CHARACTER_LIST[skill.opponent][1]}}</td>
  	  </tr>
  	{% endfor %}
  </table>
{% endblock %}