{% extends 'layout.html' %}

{% block body %}
  <h1>Your Daily Training Session<small> 
  <br>
  Welcome {{session.username}}</small></h1>
  <a class='btn btn-success' href='/training_settings'>Customize Training Session</a>
  <hr>
  <table class='table table-striped'>
  	<tr>
  	  <th>ID</th>
  	  <th>Title</th>
  	  <th>Character</th>
      <th>Opponent</th>
  	</tr>
  	{% for exercise in exercises %}
  	  <tr>
  	  	<td>{{exercise.id}}</td>
  	  	<td><a href="/exercise/{{exercise.id}}" class="btn btn-outline-primary">{{exercise.title}}</a></td>
  	  	<td>{{CHARACTER_LIST[exercise.main][1]}}</td>
        <td>{{CHARACTER_LIST[exercise.opponent][1]}}</td>
  	  </tr>
  	{% endfor %}
  </table>
{% endblock %}