{% extends 'layout.html' %}

{% block body %}

  <h1>Training Settings</small></h1>
  
  <hr>
  {% from 'includes/_formhelpers.html' import render_field %}
  <form action="" method="POST">
  	<h3>Time To Spend Training</h3>
  	<div class="form-group">
      {{ render_field(form.time, class_="form-control") }}
  	</div>
  	<h3>Matchup to emphasize</h3>
  	<div class="form-group">
      {{ render_field(form.main, class_="form-control") }}
  	</div>
  	<div class="form-group">
      {{ render_field(form.opponent, class_="form-control") }}
  	</div>
  	<p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>

{% endblock %}